<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>침입탐지</title>



    <link rel="stylesheet" href="css/style.css">


</head>

<body>

<div id=container>
    <div id=flip>
        <div><div>admin page</div></div>
        <div><div>관리자 페이지</div></div>
        <div><div>upload page</div></div>
    </div>
    <form action="/admin/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="fu">
        <input type="submit" value="파일 업로드하기"> </form>


</div>


<p>SEMINAR 2 TEAM</p>



<script  src="js/index.js"></script>




</body>

</html>
